body{
    background-image: url('https://cdn.pixabay.com/photo/2017/02/16/19/47/bokeh-2072271_960_720.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}


.navbar{
    height: 100px;
    margin-bottom: 20px;
}

.Page-Name{
    padding: 20px;
}

.btn{
    text-align: center;
    margin-left: 5px;
    margin-right: 20px;
    margin-bottom: 5px;
    position:bottom;
}

.content-TBody{
    max-width: 100%;
    padding: 1rem 2rem;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 0.25rem;
}

.content-Fav{
    max-width: 100%;
    padding: 1rem 2rem;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 0.25rem;
}

.content-Detail{
    max-width: 100%;
    padding: 1rem 2rem;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 0.25rem;
    margin-right: 20px;
}

p{
    font-size: 18px;
}

